@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

header,
main {
    /* margin: 30px 135px 130px; */
    width: 80%;
    margin: 30px auto;

}

.banner-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #161616;
    border-radius: 30px;
    color: #fff;
    /* border: 0px; */

}

.banner-info {
    margin-left: 25px;/
}

.banner-title {
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 4rem;

}

.banner-description {
    font-size: 0.8rem;
    /* font-weight: 400; */
    padding: 20px 0px;
}

.banner-btn {
    background-color: #D00;
    padding: 12px 25px;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 0.9rem;
}

.fa-solid {
    margin-left: 10px;
}

.banner-img img {
    width: 460px;
    margin-top: 25px;
    position: relative;
    bottom: -7px;
}

.btn-container {
    width: 40%;
    height: 100%;
    background-color: black;
    text-align: center;
    border-radius: 10px;

}

.btn-group {
    padding: 13px;
    width: 80%;
    margin-top: 25px;
    border-radius: 10px;
    border: none;

}
/* main section styles */
.container {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}
.blog {
    background-color: #D00;
    margin-bottom: 25px;
    
}

.btn-group a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
}
.btn-group .text-black{
    color: #251717;
}

.card {
    width: 100%;
height: 280px;
    border: 1px solid rgb(228, 225, 225);
    border-radius: 10px;
}
.card-info{
    margin: 5px;
    text-align: left;
}
h4{
    padding: 10px;
    font-size: 0.9rem;
}

.card img {
    width: 100%;
}

.fa-regular{
    margin-right: 7px;

}

.icon-info{
    padding: 10px;
    font-size: 0.8rem;
}
.btn{
    padding: 1px 10px;
    margin-left: 10px;
background-color: #fff;
border-radius: 3px;
border: 1px solid gray;
}
.card-row{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 18px 18px;
}
footer{
    background-color: #251717;
    text-align: center;
    padding: 60px;
    color: #fff;
}
/* hr{
    margin: 40px;
    border: 1px solid gray;
} */
.footer-title{
    /* margin-bottom: 40px; */
    padding: 40px;
    border-bottom: 0.1px solid rgb(51, 50, 50);
}
.footer-last{
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    font-size: 0.8rem;
    padding: 40px;
}